*{
  font-family: "Inter", sans-serif; 
}

.description{
  color: rgba(51, 51, 51, 0.80);
  font-size: 16px;
}

.gap{
  gap: 24px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-60{
  margin-bottom: 60px;
}
.padding-bottom-20{
  padding-bottom: 20px;
}

.w-9{
  width: 90%;
}

.myWave{
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 36.10%, 2.00% 35.91%, 4.00% 35.34%, 6.00% 34.41%, 8.00% 33.17%, 10.00% 31.65%, 12.00% 29.93%, 14.00% 28.08%, 16.00% 26.16%, 18.00% 24.25%, 20.00% 22.44%, 22.00% 20.79%, 24.00% 19.37%, 26.00% 18.24%, 28.00% 17.44%, 30.00% 17.01%, 32.00% 16.96%, 34.00% 17.30%, 36.00% 18.01%, 38.00% 19.06%, 40.00% 20.41%, 42.00% 22.01%, 44.00% 23.79%, 46.00% 25.68%, 48.00% 27.60%, 50.00% 29.48%, 52.00% 31.24%, 54.00% 32.81%, 56.00% 34.13%, 58.00% 35.14%, 60.00% 35.80%, 62.00% 36.09%, 64.00% 35.99%, 66.00% 35.52%, 68.00% 34.67%, 70.00% 33.50%, 72.00% 32.05%, 74.00% 30.38%, 76.00% 28.55%, 78.00% 26.64%, 80.00% 24.72%, 82.00% 22.88%, 84.00% 21.18%, 86.00% 19.70%, 88.00% 18.49%, 90.00% 17.61%, 92.00% 17.08%, 94.00% 16.94%, 96.00% 17.18%, 98.00% 17.79%, 100.00% 18.76%);
}